* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#controls
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#controls > button
{
    cursor: pointer;
    padding: 5px 8px;
    width: 80px;
}

#screen
{
    background-color: #0000ff;
    position: relative;
    left: 50%;
    translate: -50% 0;
    height: 320px;
    width: 320px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}